<?DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/> 
        <title>Django Examples</title>
    </head>

    <body>
        <div>
            <h1><a href="#">Django Examples</a></h1>
        </div>
        <div>
            <p>published: 19.02.2017, 12:14</p>
            <h2><a href="#"> My first post </a></h2>
            <p>Quando resolvi escrever um romance sobre o oceano, sabia que estaria lidando com o desconhecido, com um ambiente hostil, com um mundo cheio de segredos. O mar dá medo. Esse me parece justamente o melhor motivo para escrever: eu não escreveria sobre algo que não me perturbasse ou me apavorasse em algum nível.</p>
        </div>   
        <div>
            <p>published: 19.02.2017, 12:14</p>
            <h2><a href="#"> My Second post </a></h2>
            <p>É como se a natureza ameaçasse nos invadir pelas menores frestas dessa realidade segura que construímos para nós; tentasse vazar a qualquer instante para dentro desses ambientes controlados em que podemos criar a ilusão de que, ei, está tudo sob controle, olha que civilizados e limpinhos nós somos, sabemos o que está acontecendo.</p>
        </div>    
       
    </body>
</html>
